<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Heroes App</title>
</head>

<body>
  <main>
    <h2>Heroes App</h2>
    <section>

    
          <article>
            <a href="/detalle/<%= heroe.id %> ">
  
              <h3>
                <%= heroe.superhero %>
              </h3>
              <img src="/images/<%= heroe.id %>.jpg" alt="foto de <%= heroe.id %> ">
  
            </a>
            <ul>
              <li>
                <%= heroe.publisher %>
              </li>
              <li>
                <%= heroe.alter_ego %>
              </li>
             
            </ul>
            
  
          </article>
  
      </section>
  </main>

</body>

</html>