<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>
      <main>

        <section class="heroes-section">

          <% heroes.forEach(heroe=> { %>
            <article class="hero-class">
              <a href="/detalle/<%= heroe.id %> ">
                <h3>
                  <%= heroe.superhero %>
                </h3>
                <div class="div-img">
                  <img src="/images/<%= heroe.id %>.jpg" alt="foto de <%= heroe.id %> ">
                </div>

              </a>
              <ul>
                <li>
                  <a href="/publisher/<%= heroe.publisher %> ">
                    <%= heroe.publisher %>
                  </a>
                </li>
                <li>
                  <%= heroe.alter_ego %>
                </li>
                <li>
                  <%= heroe.first_appearance %>
                </li>
                <li>
                  <%= heroe.characters %>
                </li>
              </ul>
            </article>
            <% }) %>

        </section>
      </main>

  </body>

  </html>